* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-height: 150px;
}

header nav {
    display: flex;
    gap: 40px;
    font-size: 1.2rem;
}

header img {
    width: 200px;
}


header nav button {
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;

}

header nav button:hover {
    text-decoration: none;
    color: white;

}

.seções {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    background-color: rgb(255, 250, 250);
    border: 1px solid black;
    max-width: 1000px;
    min-height: 250px;
}

section p {
    text-align: center;
    padding: 10px;
}

section li {
    padding: 10px;
}

@media (max-width: 767px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    header {
        min-height: 50px;
    }


    header nav {
        font-size: 1.5rem;
    }

    section {
        width: 70%;
        max-width: 500px;
        font-size: 1.3em;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    header {
        min-height: 70px;
    }

    header nav {
        font-size: 1.5rem;
    }

    section {
        width: 80%;
        max-width: 650px;
        font-size: 1.3em;
    }
}